img{
    width: 300px;
}
.vehicle{
    margin:15px;
    padding:15px;
    border-radius:10px;
    text-align:center;
    box-shadow: 3px 5px 10px black;
    display:inline;
}
Link{
    color:black;
}
.vehicle-name{
    text-decoration: none;
}
