img {
    height: 100px;
    width: 100px;
}
.vehicle-container{
    margin: 10px auto;
    width: 50%;
    text-decoration: none;
    /* background-color: gray; */
    /* float: left; */
    /* display:flex; */
}